/*
    This stylesheet contains not only the style rules for the navbar,
    but also the general style rules for some common tags such as `p`, `h1` and `a`.
*/
/* navbar, flash style rules */
#flash_block {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    animation-name: none;
    animation-duration: 0.5s;
}
.flash_content {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
#error_bg {
    background-color: #800000;
}
#success_bg {
    background-color: green;
}
.flash_msg {
    margin-top: 2px;
    margin-bottom: 20px;
    color: white;
}
.flash_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: white;
    cursor: pointer;
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


/* general style rules */
label {
    font-size: 0.9rem;
}

.hypertext {
    color: orange;
    transition: all ease 0.3s;
}
.hypertext:hover {
    color: orangered;
}  