body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.forgot-password-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.forgot-password-container h1 {
    color: #333333;
    margin-bottom: 20px;
}

.forgot-password-container p {
    color: #555555;
    margin-bottom: 30px;
}

.forgot-password-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgot-password-container .btn {
    width: 100%;
    padding: 10px;
    background-color: #ee4b28;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.forgot-password-container .btn:hover {
    background-color: #f77f50;
}