<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <title>RoomieConnect</title>
        <script>
            // flash button feature
            function removeMsg() {
                var msg = document.getElementById('flash_block');
                msg.style.animationName = 'fadeOut';
                msg.addEventListener('animationend', function() {
                    msg.style.display = 'none';
                });
            }
        </script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block navbar %}
        <!-- Navbar -->
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/listings">Listings</a></li>
                <li><a href="/roommates">Roommates</a></li>
                <li><a href="/subleases">Subleases</a></li>
                <li><a href="/resources">Resources</a></li>
            </ul>
        </nav>
        {% endblock %}
        {% block body %}{% endblock %}

        <!-- flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        <div id="flash_block">
            {% if messages %}
            {% for category, msg in messages %}
            {% if category == 'error' %}
            <div class="flash_content" id="error_bg">
                <p class="flash_msg">{{msg}}</p>
                <button class="flash_button" onclick="removeMsg()">OK</button>
            </div>
            {% elif category == 'info' %}
            <div class="flash_content" id="success_bg"></div>
                <p class="flash_msg">{{msg}}</p>
                <button class="flash_button" onclick="removeMsg()">OK</button>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        {% endwith %}
    </body>
</html>