{% extends 'base.html' %}
{% block head %}
    <title>Homepage - RoomieConnect</title>
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}
{% block body %}
<div class="index-wrapper">
    <!-- Expected to be the main page of the website. -->
    {% if name == None %}
        <div class="left-index">
            <h1>Welcome to RoomieConnect!</h1>
            <p>Here you can connect and find roommates for your upcoming off-campus residential life!</p>
            <p>This service is only valid for <b>Boston University</b> community.</p>
            <div class="buttons">
                <a class="common-design" href="register">Get Started</a>
                <a class="common-design" href="login">Login</a>
            </div>
        </div>
        <div class="right-index">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="../static/images/trac_75.jpg" style="width:100%;">
                    <div class="text">75 Braintree Street</div>
                </div>
              
                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="../static/images/83_Gard.jpeg" style="width:100%">
                    <div class="text">83 Gardner Street</div>
                </div>
              
                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="../static/images/Overlook_Apartment.jpeg" style="width:100%">
                    <div class="text">175 Washington Street</div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    {% else %}
        <h1>Welcome back to RoomieConnect! {{ name }}</h1>
        <a href="logout" class="hypertext">logout</a>
    {% endif %}
    <script src="../static/js/img_slider.js"></script>
</div>
{% endblock %}