{% extends 'base.html' %}
{% block head %}
    <title>RoomieConnect - Login</title>
    <link rel="stylesheet" href="../static/css/styles_login.css">
{% endblock %}
{% block header %}{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
    <div class="login-container">
        <h2>Hello Roomie!</h2>
        <p>Welcome back to find your dreamable roommate!</p>
        <form action="/login" method="post">
            <div class="input-container">
                <input type="email" name="email" placeholder="Enter your BU email" required>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="btn login-btn">Log In</button>
                <p>Don't have an account? <a href="register" class="hypertext" style="font-size:medium; text-align: center">Create one here</a>!</p>  
            </div>
        </form>
    </div>
{% endblock %}

{% block flash_msg %}
    <script>
        // fix emergency: close flash messages for login, register pages
        function removeMsg2() {
                var msg = document.getElementById('flash_block_in_login');
                msg.style.animationName = 'fadeOut';
                msg.addEventListener('animationend', function() {
                    msg.style.display = 'none';
                });
            }
    </script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    <div id="flash_block_in_login">
        {% if messages %}
        {% for category, msg in messages %}
        {% if category == 'error' %}
        <div class="flash_content" id="error_bg">
            <p class="flash_msg">{{msg}}</p>
            <button class="flash_button" onclick="removeMsg2()">OK</button>
        </div>
        {% elif category == 'info' %}
        <div class="flash_content" id="success_bg">
            <p class="flash_msg">{{msg}}</p>
            <button class="flash_button" onclick="removeMsg2()">OK</button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    {% endwith %}
{% endblock %}