{% extends 'base.html' %}
{% block head %}
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/styles_login.css">
{% endblock %}
{% block body %}
    <div class="login-container">
        <h2>Hello Roomie!</h2>
        <p>Welcome back to find your dreamable roommate!</p>
        <form action="/login" method="post">
            <div class="input-container">
                <input type="email" placeholder="Enter your BU email" required>
                <input type="password" placeholder="Enter your password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="btn login-btn">Log In</button>
                <div class="side-buttons">
                    <a href="forgot_password_page.html" class="btn side-btn">Forgot Password</a>
                    <a href="registration_page.html" class="btn side-btn">Sign Up</a>
                </div>
                
            </div>
        </form>
    </div>
{% endblock %}
