{% extends 'base.html' %}
{% block head %}
    <title>Personal Profile</title>
    <link rel="stylesheet" href="../static/css/styles_personal_profile.css">
{% endblock %}

{% block body %}
    <div class="information-container">
        
        <form action="{{ 'update' if editable else 'edit' }}" method="post">
            {% if editable %}
                <h1 style="text-align: center;">Edit Profile</h1>
                <h4 style="text-align: center; color: darkred">Don't sign out or close the tab while editing, the progress will not be saved!</h4>
                <div class="left-aligned">Email</div>
                <input value="{{ info['bu_email'] }}" readonly style="width: 99.5%; height: 25px; font-size: 20px; background-color: lightgrey;" name="email">
                <p4>&nbsp</p4>
                <div class="left-aligned">Full Name (changing names is not recommended)</div>
                <input type="text" required style="width: 99.5%; height: 25px; font-size: 20px;" id="editableInput" value="{{ info['name'] }}" name="full-name">
                <p4>&nbsp</p4>
                <div class="left-aligned">Age</div>
                <input type="number" min="0" step="1" max="50" required style="width: 99.5%; height: 25px; font-size: 20px;" value="{{ info['age'] }}" name="age">
                <p4>&nbsp</p4>
                <div class="left-aligned">Academic Classification</div>
                    <select name="classification" id="classification" required style="width: 100%; height: 30px; font-size: 20px;">
                        <option value="{{ info['academic_classification'] }}" selected hidden>{{ info['academic_classification'] }}</option>
                        <option value="freshman">Freshman</option>
                        <option value="sophomore">Sophomore</option>
                        <option value="junior">Junior</option>
                        <option value="senior">Senior</option>
                    </select>
                <p4 style>&nbsp</p4>
                <div class="left-aligned">Building Preference 1</div>
                <input type="text" required style="width: 99.5%; height: 25px; font-size: 20px;" id="editableInput" value="{{ info['building_preference1'] }}" name="pref-1">
                <p4>&nbsp</p4>
                <div class="left-aligned">Building Preference 2</div>
                <input type="text" required style="width: 99.5%; height: 25px; font-size: 20px;" id="editableInput" value="{{ info['building_preference2'] }}" name="pref-2">
                <p4>&nbsp</p4>
                <div class="left-aligned">Building Preference 3</div>
                <input type="text" required style="width: 99.5%; height: 25px; font-size: 20px;" id="editableInput" value="{{ info['building_preference3'] }}" name="pref-3">
                <p4>&nbsp</p4>
                <div class="left-aligned">Monthly Rental Budget (in dollars)</div>
                <input type="number" min="1000" step="100" required style="width: 99.5%; height: 25px; font-size: 20px;" id="editableInput" value="{{ info['rent_budget'] }}" name="rent-budget">
                <p4>&nbsp</p4>
                <div class="left-aligned">Self-Description (200 words max)</div>
                <textarea id="editableTextarea" required maxlength="200" style="width: 99.5%; height: 25px; font-size:20px; font-family: Arial, Helvetica, sans-serif;" name="intro">{{ info['self_description'] }}</textarea>
                <p4>&nbsp</p4>
                <div class="left-aligned">Roommate Expectation (200 words max)</div>
                <textarea id="editableTextarea" required maxlength="200" style="width: 99.5%;font-size:20px;height: 25px;  font-family: Arial, Helvetica, sans-serif;" name="expect">{{ info['roommate_expectation'] }}</textarea>
                <p4>&nbsp</p4>
                <div class="left-aligned">Have you found a roommate?</div>
                <select name="status" id="classification" required style="width: 100%; height: 30px; font-size: 20px;">
                    {% if info['found_roommate'] == 0 %}
                    <option value="0" selected>No</option>
                    <option value="1">Yes</option>
                    {% else %}
                    <option value="0">No</option>
                    <option value="1" selected>Yes</option>
                    {% endif %}
                </select>
                <!-- <label class ="switch">
                    <input type ="checkbox">
                    <span class="slider round"></span>
                </label> -->
                <p4>&nbsp</p4>
                <button type="submit" class="btn">Save</button>
            {% else %}
                <h1 style="text-align: center;">My Profile</h1>
                <div class="left-aligned"><b>Email: </b>{{ info['bu_email'] }}</div>
                <p4>&nbsp</p4>
                <div class="left-aligned"><b>Name: </b> {{ info['name'] }}</div>
                <p4>&nbsp</p4>
                <div class="left-aligned"><b>Gender: </b> {{ info['gender'] }}</div>
                <p4>&nbsp</p4>
                <div class="left-aligned"><b>Self Introduction: </b> {{ info['self_description'] }}</div>
                <p4>&nbsp</p4>
                <div class="left-aligned"><b>Roommates Expectation:</b> {{ info['roommate_expectation'] }}</div>
                <p4>&nbsp</p4>
                <div class="left-aligned"><b>Building Preferences:</b> {{ info['building_preference1'] }}, {{ info['building_preference2'] }}, {{ info['building_preference3'] }}</div>
                <p4>&nbsp</p4>
                <div class="left-aligned"><b>Rental Budget:</b> ${{ info['rent_budget'] }}</div>
                <p4>&nbsp</p4>
                {% if info['found_roommate'] == 1 %}
                <div class="left-aligned" style="color: green; font-weight: bolder;">Currently, I have one or more roommates.</div>
                {% else %}
                <div class="left-aligned" style="color: red; font-weight: bolder;">I am actively looking for a roommate.</div>
                {% endif %}
                <p4>&nbsp</p4>
                <button type="submit" class="btn">Update</button>
            {% endif %}
        </form>
    </div>
{% endblock %}