<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Profile Page</title>
    <link rel="stylesheet" href="../static/css/styles_personal_profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class=".button_color"></div>
    <div class="header">
        <h1>Dashboard</h1>
        <div class="dropdown">
            <span>Profile</span>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </div>
    <div class="information-container">
        <div class="left-aligned">Email</div>
        <input type="text" placeholder="" required>
        <p4>&nbsp</p4>
        <div class="left-aligned">Full Name</div>
        <input type="text" placeholder="" required>
        <p4>&nbsp</p4>
        <div class="left-aligned">Rental Budget</div>
        <input type="number" placeholder="" required>
        <p4>&nbsp</p4>
        <div class="left-aligned">Building Preference 1</div>
        <input type="text" placeholder="" required>
        <p4>&nbsp</p4>
        <div class="left-aligned">Self-Description (150 words max)</div>
        <textarea placeholder="" required maxlength="150"></textarea>
        <p4>&nbsp</p4>
        <div class="left-aligned">Roommate Expectation (150 words max)</div>
        <textarea placeholder="" required maxlength="150"></textarea>
        <p4>&nbsp</p4>
        <label class ="switch">
            <input type ="checkbox">
            <span class="slider round"></span>
        </label>
        <p4>&nbsp</p4>
        <button type="submit" class="btn">Update</button>
    </div>
    
    
    
</body>
</html>