{% extends 'base.html' %}
{% block head %}
    <title>User Registration</title>
    <link rel="stylesheet" href="../static/css/styles_registration.css">
    <script src="../static/js/validate_password.js"></script>
    <script src="../static/js/fafa_eye.js"></script>
{% endblock %}
{% block header %}{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
    <div class="registration-container">
        <h2 style="text-align: center;">Join our community!</h2>
        <p>Already have an account? <a href="login" style="text-decoration: none;">Sign In</a></p>
        <form action="/register" method="post">
            <label for="email">Enter your email.</label>
            <input type="email" placeholder="Enter your BU Email." name="email" id="email">
            
            <div class="input-group">
                <label for="password">Create a 8-20 length password.</label>
                <input type="password" id="password" name="password" placeholder="Create a password." required>
                <i class="fa fa-eye toggle-password" onclick="togglePasswordVisibility('password', 'togglePassword')"></i>
            </div>
            <div class="input-group">
                <label for="rePassword">Verify your password.</label>
                <input type="password" id="rePassword" name="verify-password" placeholder="Re-enter your created password." required oninput="validatePassword()">
                <i class="fa fa-eye toggle-password" onclick="togglePasswordVisibility('rePassword', 'toggleRePassword')"></i>
                <b style="color: darkred; background-color: darksalmon; font-size: small; display: none;" id="alert-msg-for-js">🚨: Passwords are not match!</b>
            </div>
            
            <label for="real-name">Enter your name in `First Name+Last Name` format.</label>
            <input type="text" placeholder="Enter your name." name="real-name" id="real-name" required>

            <label for="gender">Declare your gender.</label>
            <select id="gender" name="gender" required>
                <option value="" selected hidden disabled>Select gender.</option>
                <option value="man">Male</option>
                <option value="woman">Female</option>
                <option value="prefer_not_to_say">Prefer not to say</option>
            </select>
            <label for="classification">Choose an academic classification.</label>
            <select name="classification" id="classification" required>
                <option value="" selected hidden disabled>Make a selection here.</option>
                <option value="freshman">Freshman</option>
                <option value="sophomore">Sophomore</option>
                <option value="junior">Junior</option>
                <option value="senior">Senior</option>
            </select>

            <label for="age">Enter your age as a number. <br> (enter 0 if you prefer not to tell)</label>
            <input type="number" min="0" step="1" max="50" placeholder="Enter your age." name="age" id="age">

            <label for="b-pref">Enter three of your building preferences. (optional)</label>
            <input type="text" placeholder="Enter the building address." name="building-pref" id="b-pref">
            <input type="text" placeholder="Enter the building address." name="building-pref-2" id="b-pref">
            <input type="text" placeholder="Enter the building address." name="building-pref-3" id="b-pref">

            <label for="rent-budget">Enter your monthly rental budget in dollars.</label>
            <input type="number" min="1000" step="100" placeholder="Enter a number or use the buttons to shift the value." name="budget" id="rent-budget" required>

            <label for="self-intro">Briefly describe yourself.</label>
            <textarea placeholder="There's a 200 characters maximum." id="self-intro" name="self-intro" required maxlength="200"></textarea>

            <label for="expectation">Briefly describe your roommate(s) expectation.</label>
            <textarea placeholder="There's a 200 characters maximum." name="expectation" id="expectation" required maxlength="200"></textarea>

            <div class="reg-button-container"><button type="submit">Register</button></div>
        </form>
    </div>
{% endblock %}
