{% extends 'base.html' %}
{% block head %}
    <title>Page Under Development</title>
    <style>
        p, ul {
            font-size: x-large;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="text-align: center">This page is under development.</h1>
    <div style="padding: 20%; padding-top: 2%;">
    <p>Currently, we are considering...</p>
    <ul>
        <li>Fetch data about neighborhoods through an available API.</li>
        <li>Implement a browse bar for searching.</li>
        <li>Design an independent template for the page.</li>
    </ul>
    </div>
{% endblock %}